@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	--white: #FFFFFF;
	--light-grey: #D9D9D9;
	--grey: #4C4C4C;
	--blue: #212AD1;
	--light-blue: #91F6F0;
	--green: #68E79A;
	--yellow: #FFE787;
	--orange: #F26F21;
	--pink: #FF6865;
	--light-pink: #FF9A98;
	--red: #E32F3A;

	--brand-size: 18px;
	--brand-weight: 700;

	--column-title-size: 14px;
	--column-title-weight: 600;

	--card-title-size: 14px;
	--card-title-weight: 400;

	--card-content-size: 12px;
	--card-content-weight: 300;

	--button-text-size: 14px;
	--button-text-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* font-size: 100%; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, textarea, select {
	outline: none;
}

img {
	cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}
