body{
	background-color: #202AD0;
}

nav{
	top: 0;
	height: 90px;
	display: flex;
	padding: 20px;
	position: sticky;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-1{
	font-size: 26px;
	color:#202AD0;
	font-weight: 600;
	text-align: center;
}

/* Onde ficam as colunas e cards */
.quadro{
	display: flex;
	color: black;
	font-weight: bold;
	overflow-x: auto;
	align-items: flex-start;
	font-family: sans-serif;
	scroll-behavior: smooth;
	height: calc(100vh - 90px);
	background-color: #202AD0;
	scroll-snap-type: x mandatory;
  }

  /* Design das colunas */
.coluna {
	margin: 20px 0 20px 10px;
	display: flex;
	min-width: 80vw;
	transition: 0.4s;
	min-height: 200px;
	border-radius: 5px;
	align-items: center;
	scroll-margin: 20px;
	flex-direction: column;
	background-color: #FFFFFF;
	border: 4px solid transparent;
	scroll-snap-align: start;
}

.coluna:hover{
	transition: 0.4s;
	border: 4px solid #E48900;
}

/* Nome da coluna */
.coluna input{
	width: 90%;
	font-size: 26px;
	text-align: center;
}

/* Card que pode ser arrastado */
.arrastavel {
	width: 95%;
	cursor:grab;
	position: relative;
	padding: 10px;
	display: flex;
	transition: 0.4s;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: normal;
	flex-direction: column;
	background-color: #FF9A98;
}

.dropzone {
	flex-grow: 1;
	padding: 10px;
	flex-basis: 100%;
	background-color: #ffffff;
}

.nome__card{
	width: 100%;
	color: black;
	font-size: 16px;
	padding: 5px 10px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	background-color: transparent;
}
.nome__card::placeholder{
	color: #4D4D4D;
	text-align: center;
}

.conteudo__card{
	width: 100%;
	color: black;
	font-size: 12px;

	font-weight: bold;
	padding: 5px 10px;
	background-color: transparent;
}

/* Menu que mostra para onde um card pode ser arrastado */
.arrastavel__menu{
	position: absolute;
	bottom: -30px;
	z-index: 2;
	right: 0;
	border-radius: 4px;
	background-color: white;
	border: 1px solid black;
}

.arrastavel__menu select{
	height: 30px;
	width: 150px;
	border-radius: 5px;
}

.card__opcoes{
	display: flex;
	justify-content: flex-end;
}

.card__botao{
	width: 25px;
	height: 25px;
	align-self: end;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
}

.adicionar-card{
	width: 40px;
	height: 40px;
	margin: 20px 0;
	font-size: 26px;
	cursor: pointer;
	color: #FFFFFF;
	border-radius: 5px;
	background-color: #202AD0;

}

.adicionar-coluna{
	min-width: 40px;
	height: 40px;
	margin: 0 20px;
	margin-top: 65px;
	font-size: 26px;
	cursor: pointer;
	color: #FFFFFF;
	border-radius: 5px;
	background-color: #E48900;
	scroll-snap-align: start;
	scroll-margin: 20px;

}

.hidden{
	display: none;
}

@media screen and (min-width: 768px) {
	.coluna {
		min-width: 300px;
		max-width: 300px;
	}
	.arrastavel__menu{
		display: none;
	}

	.card__move{
		display: none;
	}

	.hidden{
		display: none;
	}
}
