body {
	padding: 30px 0 80px 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: var(--blue);
}


header {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header img {
	width: 60%;
}

main {
	width: 100%;
}

form {
	width: 100%;
	row-gap: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

input {
	width: 80%;
	height: 30px;
	padding-left: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: var(--white);

	border-bottom: 1px solid var(--white);
}

input:hover {
	border-bottom: 1px solid var(--orange);
}

input::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: var(--white);
}

button {
	width: 168px;
	height: 47px;
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background: var(--orange);

	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: var(--white);
}

footer {
	width: 100%;

	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--white);
}

a {
	text-decoration: none;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--orange);
}


a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	body {
		padding: 40px;
	}

	header img {
		width: 436px;
	}

	input {
		width: 436px;
		height: 50px;
	}

	input::placeholder {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}

	button {
		width: 250px;
		height: 60px;
		border-radius: 8px;

		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}

	p {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}

	a {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
}